@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script>window.close();</script>
</head>
<body>
    <div>
        <b>Your login was successful. You can close this page.</b>
    </div>
</body>
</html>
